/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {transition: transform 2s linear;}

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas sugestões:
 *   - agitado: animal piscando (opacidade variando)
 *   - alimentado: uma borda verde no animal e o animal fica girando de alegria
 *   - perturbado: animal fica pulsando
 *   - instinto-selvagem: animal dá um salto e cresce, com uma borda vermelha
 */
.agitado {animation: piscando 2s alternate infinite linear;}
.agitado img {}

.alimentado {animation: girando 1s ease-in-out 0s infinite alternate;}
.alimentado img {
	border-style: solid;
	border-width: 5px;
	border-color: green;
}

.perturbado {}
.perturbado img {animation: crescendo-perturbado 4s alternate infinite linear}

.instinto-selvagem{
    animation: crescendo-instinto-selvagem 4s alternate infinite linear
}
.instinto-selvagem img {
    border-style: solid;
	border-width: 5px;
	border-color: red;
}

@keyframes piscando {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes girando {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-720deg); }
}

@keyframes crescendo-perturbado {
  from { transform: scale(1); }
  to   { transform: scale(1.5); }
}

@keyframes crescendo-instinto-selvagem {
  from { transform: scale(1.5); }
  to   { transform: scale(2.5); }
}


/*
 * Exercício 3: Criar uma imagem sprite com as imagens dos botões de controle
 * (icone-comecar.png e icone-parar.png). Sugestões:
 *   - Usar o nome: sprite-controles.png
 *   - Usar o paint.NET (ou Photoshop) para gerar a nova imagem (sprite)
 *
 */

.comecar,
.parar {}

.comecar {
  width: 24px;
  height: 24px;
  background-image: url('imgs/icone-comecar-parar.png');
  background-position: 0 0;  /* 3º quadro */
}

.parar {
  width: 24px;
  height: 24px;
  background-image: url('imgs/icone-comecar-parar.png');
  background-position: 0 24px;  /* 3º quadro */
}
